<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS} %5level] %40.40X{akkaSource:-local}| %msg%n</pattern>
            <!--<pattern>%d{HH:mm:ss.SSS} [%X{akkaSource:-local}] %-5level %logger{5} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <property name="HOME_LOG" value="logs/app.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file -->
            <maxFileSize>100MB</maxFileSize>
            <!-- total size of all archive files, if total size > allowed, it will delete old archived file -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>[%d %5level] %100X{akkaSource:-local} | %m%n</pattern>
        </encoder>
    </appender>

    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-ROLLING"/>
    </root>
</configuration>