<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="System" type="Multirun" factoryName="Multirun" separateTabs="false" startOneByOne="true" markFailedProcess="true" hideSuccessProcess="true" delayTime="1">
    <runConfiguration name="Master" type="Application" />
    <runConfiguration name="Slave" type="Application" />
    <method v="2" />
  </configuration>
</component>